
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <fieldset class="table-search-fieldset">
                <legend>搜索信息</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">订单名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="ordername" id="ordername" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">订单状态</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="orderstate" id="orderstate" autocomplete="off" class="layui-input">
                                </div>
                                <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                            </div>
                           
                        </div>
                    </form>
                </div>
            </fieldset>

            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                    @*<button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>*@
                </div>
            </script>

            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

            <script type="text/html" id="currentTableBar">
                @*<a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>*@
                <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="orderdetail">查看详情</a>
            </script>

        </div>
    </div>


    <script src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>


    @*<script type="text/javascript">
            $("#delete").click(function () {
                $.ajax({
                    url: "@Url.Action("HaHa","Home")",
                    async: false,
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        alert(data);
                    }
                });
            });

        </script>*@


<script>
        function formatUnixtimestamp(unixtimestamp) {
            if (unixtimestamp == null) return "未交付";
            var timestamp = unixtimestamp;
            var date = new Date(parseInt(timestamp.replace("/Date(", "").replace(")/", ""), 10));
            Y = date.getFullYear() + '-';
            M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
            h = (date.getHours() < 10 ? '0' + (date.getHours()) : date.getHours()) + ':';
            m = (date.getMinutes() < 10 ? '0' + (date.getMinutes()) : date.getMinutes()) + ':';
            s = (date.getSeconds() < 10 ? '0' + (date.getSeconds()) : date.getSeconds());
            var NewDtime = Y + M + D + h + m + s;
            return NewDtime;
        }


    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '@Url.Content("/Admin/GetOrderTable")',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[

                { field: 'OrderId', width: 100, title: '订单ID', sort: true },
                { field: 'Name', width: 200, title: '订单名称' },
                { field: 'UsersId', width: 110, title: '下单人ID', sort: true },
                { field: 'CreatorId', width: 110, title: '创作人ID', sort: true },
                { field: 'total_amt', width: 200, title: '总价', sort: true },
                {
                    field: 'BuyDate', width: 200, title: '下单日期', sort: true,
                    templet: function (d) {
                        return formatUnixtimestamp(d.BuyDate);
                    }
                },
                {
                    field: 'FinishDate', width: 200, title: '截止日期', sort: true,
                    templet: function (d) {
                        return formatUnixtimestamp(d.FinishDate);
                    }
                },
                {
                    field: 'ActualFinishDate', width: 210, title: '实际交付日期', sort: true,
                    templet: function (d) {
                        return formatUnixtimestamp(d.ActualFinishDate);
                    }
                },
                { field: 'OrderState', width: 150, title: '订单状态' },
                { field: 'NeedDescrib', width: 230, title: '需求描述' },
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {

            var index = layer.msg('查询中，请稍后...', { icon: 16, time: false, shade: 0 });
            setTimeout(function () {
                table.reload('currentTableId', {
                    url: '/Order/serach_order'
                    // ,methods:"post"
                    , where: {
                        name: $('#ordername').val(),
                        state: $('#orderstate').val()
                    }, page: {
                        curr: 1 // 重载后从第一页开始
                    }
                });
                layer.close(index);
            }, 800)


            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添Urlrl操作
                var index = layer.open({
                    title: '添加订单',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/Order/add_order',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'orderdetail') {
                var data = obj.data;

                var index = layer.open({
                    title: '订单详情',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: "/Order/order_detail/" + data.OrderId,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                    
            }
        });

    });
</script>

</body>
</html>
